<%- include('./partials/head', {title: 'Next' }) %>

  <body style="background-color: <%= locals.user?.color.hexa %>">
    <div class="container">
      <p>
        <strong>
          <%= locals.user?.name %>
        </strong> , gracias por visitarnos😊
      </p>
      <a class="boton-sig-volver" href="/">Volver al inicio</a>
  </body>

  </html>